.content {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}
.form {
  width: 65%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.img_form {
  width: 33%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.empty_img_form {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.centered {
  width: 60%;
  height: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 20px;
  color: #ff0048;
  padding-bottom: 10px;
  border-bottom: 2px dashed #ff0048;
}
.name_desc {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  color: #ff0048;
}
.name_desc:focus {
  border-color: #ff0048
}
.inputs {
  margin-bottom: 20px;
}
.inputs:last-child {margin-bottom: 0;}
.upload_img label {
  color: #ff0048;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.upload_img label img {
  width: 30px;
  margin-right: 10px;
}
.btn {
  width: 100%;
  background-color: #ff0048;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;  
}
@media only screen and (min-width: 1300px) {
  .h3 {
    font-size: 23px;
  }
  .name_desc {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1500px) {
  .h3 {
    font-size: 25px;
  }
  .name_desc {
    font-size: 17px;
  }
}