.content {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  min-width: 991px;
  padding: 10px;
}
.left_block {
  width: 71%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.right_block {
  width: 26%;
  background-color: blueviolet;
}
.btns {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  padding: 0 10px 10px 10px;
}
.btn {
  margin: 0 20px 10px 20px;
  padding: 5px 20px 10px 20px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 4px solid transparent;
  background-color: transparent;
  outline: none;
}
.btn:hover {
  border-bottom-color: #ff0048;
}
.btn:first-child {
  margin-left: 0;
  border-bottom-color: #ff0048;
  font-weight: 600;
}
.btn span {
  margin: 0 10px;
}
.btn span:first-child {
  margin-left: 0;
}
.btn span:last-child {
  margin-right: 0;
}
.badges {
  background-color: #ff0048;
  color: #fff;
  padding: 5px 10px 4px;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 1434px) {
  .btn {
    margin: 0 0px 10px;
    padding: 5px 20px 10px;
  }
  .btn span {
    margin: 2px;
  }
}